<a href="https://colab.research.google.com/github/ceydatekin/NumpyPandasKutuphaneleri/blob/main/GDSC_YAPAY_ZEKAYA_G%C4%B0R%C4%B0%C5%9E_E%C4%9E%C4%B0T%C4%B0M%C4%B0_PANDAS_K%C3%9CT%C3%9CPHANES%C4%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

* Panel data kısaltılmışı = Ekonometrik ve finansal çalışmalar için doğmuştur
* Zaman indeksine önem verir.
* Veri manipülasyonu ve veri analizi için yazılmış açık kaynak kodlu bir Python kütüphanesidir.
* Yapısal veri setleriyle esnek çalışma sağlar
* NumPydan farklı olarak farklı tipler olabilmektedir.
* Temeli 2008 yılında atılmıştır
* R DataFrame yapısını Python dünyasına taşımış ve DataFramer'ler üzerinde hızlı ve etkili çalışabilme imkanı sağlamıştır.

## Pandas Serisi Oluşturma

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1]) #arraydakiler numpy vektörlerinden farklı olarak indeksleriyle bir tutulurlar.

0    1
dtype: int64

In [ ]:
pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [ ]:
seri = pd.Series([10,88,3,4,5])
print(type(seri))
print(seri)

<class 'pandas.core.series.Series'>
0    10
1    88
2     3
3     4
4     5
dtype: int64

In [ ]:
seri.axes #index bilgilerini gösterir başladığı ve son buldupuna kadar şeklindedir

[RangeIndex(start=0, stop=5, step=1)]

In [ ]:
seri.dtype #içerisindeki değerler tipi

dtype('int64')

In [ ]:
seri.size #eleman sayısı

5

In [ ]:
seri.ndim #boyutu

1

In [ ]:
seri.values #sadece değerlerine erişmek için numpy arrayi görüntüsü

array([10, 88,  3,  4,  5])

In [ ]:
seri.head(3) #arrayin elelmanlarına baştan bakmak

0    10
1    88
2     3
dtype: int64

In [ ]:
seri.tail(3) #arrayin elemanlarına sondan bakmak

2    3
3    4
4    5
dtype: int64

### İndex İsimlendirilmesi

In [ ]:
pd.Series([99,22,332,94,5])

0     99
1     22
2    332
3     94
4      5
dtype: int64

In [ ]:
a = pd.Series([99,22,332,94,5], index = [1,3,5,7,9])

In [ ]:
a.axes

[Int64Index([1, 3, 5, 7, 9], dtype='int64')]

In [ ]:
a

1     99
3     22
5    332
7     94
9      5
dtype: int64

In [ ]:
a = pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])
a

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [ ]:
a.axes

[Index(['a', 'b', 'c', 'd', 'e'], dtype='object')]

In [ ]:
a["a"]

99

In [ ]:
a["a":"c"]

a     99
b     22
c    332
dtype: int64

### Sözlük Üzerinden Series Oluşturmak

In [ ]:
sozluk = pd.Series({"reg":10, "log":11, "cart":12})

In [ ]:
sozluk

reg     10
log     11
cart    12
dtype: int64

In [ ]:
sozluk = {"reg":10, "log":11, "cart":12}

In [ ]:
seri = pd.Series(sozluk)

In [ ]:
seri

reg     10
log     11
cart    12
dtype: int64

In [ ]:
pd.concat([seri,seri])  #İki seriyi birleştirerek oluşturma

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

### Eleman İşlemleri

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,35,44,54])
seri= pd.Series(a)
seri

0     1
1     2
2    35
3    44
4    54
dtype: int64

In [ ]:
seri[0:3]

0     1
1     2
2    35
dtype: int64

In [ ]:
seri = pd.Series([121,200,150,99], index=["reg", "loj","cart","rf"])
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [ ]:
seri.index #serinin indexlerini gösterir

Index(['reg', 'loj', 'cart', 'rf'], dtype='object')

In [ ]:
seri.keys #hem indexleri hem değerleri gösterir

<bound method Series.keys of reg     121
loj     200
cart    150
rf       99
dtype: int64>

In [ ]:
list(seri.items()) #normalde hata alınır liste şeklinde olmalıdır.

[('reg', 121), ('loj', 200), ('cart', 150), ('rf', 99)]

In [ ]:
seri.values

array([121, 200, 150,  99])

### Eleman Sorgulama

In [ ]:
"reg" in seri

True

In [ ]:
"a" in seri

False

In [ ]:
seri["reg"]

121

In [ ]:
seri[["rf", "reg"]] #fancy işlemi

rf      99
reg    121
dtype: int64

In [ ]:
seri["reg"] = 130
seri["reg"]

In [ ]:
seri["reg":"cart"] #cartın dahil oluşuna dikkat ediniz :)

reg     130
loj     200
cart    150
dtype: int64

# Pandas Dataframe
![Resim1.png]()

## Pandas Dataframe Oluşturma

In [ ]:
l = [1,2,3,339,67,90]
l

[1, 2, 3, 339, 67, 90]

In [ ]:
b = pd.DataFrame(l, columns=["df"])
b

    df
0    1
1    2
2    3
3  339
4   67
5   90

In [ ]:
b["df"].mean()

83.66666666666667

In [ ]:
b["df"].std()

130.7848105349649

In [ ]:
b["df"].var()

17104.666666666664

In [ ]:
b["df"].median()

35.0

In [ ]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
n = np.random.randint(0,10,(3,3))
pd.DataFrame(n, columns = ["var1","var2","var3"])

   var1  var2  var3
0     8     4     3
1     2     1     3
2     3     5     0

## Dataframe İsimlendirme

In [ ]:
df = pd.DataFrame(n, columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     8     4     3
1     2     1     3
2     3     5     0

In [ ]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [ ]:
df.columns = ("deg1","deg2","deg3")

In [ ]:
df

   deg1  deg2  deg3
0     8     4     3
1     2     1     3
2     3     5     0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [ ]:
df.shape

(3, 3)

In [ ]:
df.ndim

2

In [ ]:
df.size

9

In [ ]:
df.values

array([[8, 4, 3],
       [2, 1, 3],
       [3, 5, 0]])

In [ ]:
type(df.values)

numpy.ndarray

In [ ]:
df.head #baştan gözlem

<bound method NDFrame.head of    deg1  deg2  deg3
0     8     4     3
1     2     1     3
2     3     5     0>

In [ ]:
df.tail #sondan gözlem

<bound method NDFrame.tail of    deg1  deg2  deg3
0     8     4     3
1     2     1     3
2     3     5     0>

In [ ]:
df.tail(1) #sondan 1. gözlem

   deg1  deg2  deg3
2     3     5     0

## Eleman İşlemleri

In [ ]:
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [ ]:
sozluk = {"var1": s1, "var2":s3, "var3":s3}

In [ ]:
sozluk

{'var1': array([2, 9, 1, 1, 1]),
 'var2': array([0, 3, 2, 8, 0]),
 'var3': array([0, 3, 2, 8, 0])}

In [ ]:
df = pd.DataFrame(sozluk)

In [ ]:
df

   var1  var2  var3
0     2     0     0
1     9     3     3
2     1     2     2
3     1     8     8
4     1     0     0

In [ ]:
df[:2]

   var1  var2  var3
0     2     0     0
1     9     3     3

In [ ]:
df[0:2]

   var1  var2  var3
0     2     0     0
1     9     3     3

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.index=["a","b","c","d","e"]

In [ ]:
df

   var1  var2  var3
a     2     0     0
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
df["c":"e"]

   var1  var2  var3
c     1     2     2
d     1     8     8
e     1     0     0

### Silme

In [ ]:
df.drop("a", axis=0) #yeniye atanmazsa yada inplace argumani kullanılmazsa ana dataframe değişmez

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
df

   var1  var2  var3
a     2     0     0
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
df.drop("a", axis=0 , inplace= True)

In [ ]:
df

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

### Fancy

In [ ]:
l = ["c","e"]

In [ ]:
df.drop(l, axis=0 )

   var1  var2  var3
b     9     3     3
d     1     8     8

In [ ]:
df

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

değişkenleri bulma

In [ ]:
"var1" in df

True

In [ ]:
l = ["var1","var4","var2"]

In [ ]:
for i in l:
    print(i in df)

True
False
True

In [ ]:
df

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
df["var1"]

b    9
c    1
d    1
e    1
Name: var1, dtype: int64

In [ ]:
df["var4"] = df["var1"] / df["var2"]

In [ ]:
df

   var1  var2  var3   var4
b     9     3     3  3.000
c     1     2     2  0.500
d     1     8     8  0.125
e     1     0     0    inf

### Değişken silmek

In [ ]:
df.drop("var4", axis = 1)

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
df

   var1  var2  var3   var4
b     9     3     3  3.000
c     1     2     2  0.500
d     1     8     8  0.125
e     1     0     0    inf

In [ ]:
df.drop("var4", axis = 1, inplace=True)

In [ ]:
df

   var1  var2  var3
b     9     3     3
c     1     2     2
d     1     8     8
e     1     0     0

In [ ]:
l=["var1","var3"]

In [ ]:
df.drop(l, axis = 1, )

   var2
b     3
c     2
d     8
e     0

## Gözlem ve Değişken Seçimi : Loc & iloc

In [ ]:
m= np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns= ["var1","var2","var3"])
df

   var1  var2  var3
0    24    14    13
1    27     2    13
2     1     2     8
3     9     5    13
4    23     7    15
5    22    27     1
6    19    28    23
7    11     7    26
8    25    19    17
9     2    29    28

>**loc :**tanımlandığı şekli ile seçim yapmak için kullanılır.

In [ ]:
df.loc[0:3]

   var1  var2  var3
0    24    14    13
1    27     2    13
2     1     2     8
3     9     5    13

>**iloc :**alışık olduğumuz indeksleme mantığıyla seçim yapar

In [ ]:
df.iloc[0:3]

   var1  var2  var3
0    15     7    20
1    12    12    25
2     5     3    18

In [ ]:
df.iloc[:3,:2]

   var1  var2
0    15     7
1    12    12
2     5     3

In [ ]:
df.loc[0:3,"var3"]

0    13
1    13
2     8
3    13
Name: var3, dtype: int64

In [ ]:
df.iloc[0:3, "var3"] #kullanılmaz indeksleme mantığıyla seçim yaptığımız için

ValueError: ignored

In [ ]:
df.iloc[0:3, 1:3] #indeksleme yaklaşımı

   var2  var3
0    14    13
1     2    13
2     2     8

In [ ]:
df.iloc[0:3, 1:3]["var3"]

0    13
1    13
2     8
Name: var3, dtype: int64

## Koşullu Eleman işlemleri

In [ ]:
m= np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns= ["var1","var2","var3"])
df

   var1  var2  var3
0     5    23    24
1    23     8     7
2    28     8     1
3     7    27     4
4    10     2    12
5     1    18    23
6    26     1    14
7    26    13    27
8    11     6    14
9    20    11    29

In [ ]:
df["var1"][0:2]

0     5
1    23
Name: var1, dtype: int64

In [ ]:
df[df.var1 > 15]

   var1  var2  var3
1    23     8     7
2    28     8     1
6    26     1    14
7    26    13    27
9    20    11    29

In [ ]:
df[(df.var1 > 15) & (df.var3<5)]

   var1  var2  var3
2    28     8     1

In [ ]:
df.loc[(df.var1 > 15) ,["var1","var2"]] #değişken seçmede var

   var1  var2
1    26     9
2    28     5
4    20    13
5    25    10
6    26     9
8    23    28

In [ ]:
df[(df.var1 > 15) ][["var1","var2"]]

   var1  var2
1    26     9
2    28     5
4    20    13
5    25    10
6    26     9
8    23    28

## Birleştirme (Join) İşlemleri

In [ ]:
m= np.random.randint(1,30, size=(5,3))
df1 = pd.DataFrame(m, columns= ["var1","var2","var3"])
df1

   var1  var2  var3
0    11    29    15
1     7     9    21
2    23    23     2
3    10    14     6
4    22    15    11

In [ ]:
df2 = df1+df1

In [ ]:
df2

   var1  var2  var3
0    22    58    30
1    14    18    42
2    46    46     4
3    20    28    12
4    44    30    22

In [ ]:
pd.concat([df1,df2])

   var1  var2  var3
0     4    20    23
1    17    23    18
2    14    25    11
3    20    11     3
4    26    23    13
0     8    40    46
1    34    46    36
2    28    50    22
3    40    22     6
4    52    46    26

In [ ]:
pd.concat([df1,df2], ignore_index= False) #indeks sayısına bakmaz değiştirmez

   var1  var2  var3
0    11    29    15
1     7     9    21
2    23    23     2
3    10    14     6
4    22    15    11
0    22    58    30
1    14    18    42
2    46    46     4
3    20    28    12
4    44    30    22

In [ ]:
pd.concat([df1,df2], ignore_index= True)#indeks sayısına bakar sıralar

   var1  var2  var3
0    11    29    15
1     7     9    21
2    23    23     2
3    10    14     6
4    22    15    11
5    22    58    30
6    14    18    42
7    46    46     4
8    20    28    12
9    44    30    22

In [ ]:
df1.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [ ]:
df2.columns =["var1","var2","deg3"]

In [ ]:
df2

   var1  var2  deg3
0    22    58    30
1    14    18    42
2    46    46     4
3    20    28    12
4    44    30    22

In [ ]:
df1

   var1  var2  var3
0    11    29    15
1     7     9    21
2    23    23     2
3    10    14     6
4    22    15    11

In [ ]:
pd.concat([df1,df2])

   var1  var2  var3  deg3
0     4    20  23.0   NaN
1    17    23  18.0   NaN
2    14    25  11.0   NaN
3    20    11   3.0   NaN
4    26    23  13.0   NaN
0     8    40   NaN  46.0
1    34    46   NaN  36.0
2    28    50   NaN  22.0
3    40    22   NaN   6.0
4    52    46   NaN  26.0

In [ ]:
pd.concat([df1,df2] , join="inner") #kesişimlerine göre birleştirdi

   var1  var2
0    11    29
1     7     9
2    23    23
3    10    14
4    22    15
0    22    58
1    14    18
2    46    46
3    20    28
4    44    30

### İleri Birleştirme İşlemleri

In [ ]:
sozluk1= {"calısan":['ali',"veli", "ayse","fatma"], "grup" : ["muhasebe", "muhendislik", "muhendislik", "İK"]}
df1 = pd.DataFrame(sozluk1)
df1

  calısan         grup
0     ali     muhasebe
1    veli  muhendislik
2    ayse  muhendislik
3   fatma           İK

In [ ]:
sozluk2= {"calısan":['ayse',"ali", "veli","fatma"], "ilk giris" : [2010,2009,2014,2019]}
df2 = pd.DataFrame(sozluk2)
df2

  calısan  ilk giris
0    ayse       2010
1     ali       2009
2    veli       2014
3   fatma       2019

In [ ]:
pd.merge(df1, df2)

  calısan         grup  ilk giris
0     ali     muhasebe       2009
1    veli  muhendislik       2014
2    ayse  muhendislik       2010
3   fatma           İK       2019

In [ ]:
pd.merge(df1, df2 , on="calısan")

  calısan         grup  ilk giris
0     ali     muhasebe       2009
1    veli  muhendislik       2014
2    ayse  muhendislik       2010
3   fatma           İK       2019

In [ ]:
df3 = pd.merge(df1, df2)
df3

  calısan         grup  ilk giris
0     ali     muhasebe       2009
1    veli  muhendislik       2014
2    ayse  muhendislik       2010
3   fatma           İK       2019

In [ ]:
df4 = pd.DataFrame({"grup":["muhasebe","muhendislik","İK"],"mudur":["Caner","mustafa","berkcan"]})
df4

          grup    mudur
0     muhasebe    Caner
1  muhendislik  mustafa
2           İK  berkcan

In [ ]:
pd.merge(df3, df4)

  calısan         grup  ilk giris    mudur
0     ali     muhasebe       2009    Caner
1    veli  muhendislik       2014  mustafa
2    ayse  muhendislik       2010  mustafa
3   fatma           İK       2019  berkcan

In [ ]:
df5 = pd.DataFrame({"grup":["muhasebe","muhasebe","muhendislik","muhendislik","İK","İK"],
                            "yetenekler": ["matematik","excel","kodlama","linux","excel","yonetim"]})
df5

          grup yetenekler
0     muhasebe  matematik
1     muhasebe      excel
2  muhendislik    kodlama
3  muhendislik      linux
4           İK      excel
5           İK    yonetim

In [ ]:
pd.merge(df1,df5)

  calısan         grup yetenekler
0     ali     muhasebe  matematik
1     ali     muhasebe      excel
2    veli  muhendislik    kodlama
3    veli  muhendislik      linux
4    ayse  muhendislik    kodlama
5    ayse  muhendislik      linux
6   fatma           İK      excel
7   fatma           İK    yonetim

## Gruplama ve Toplulaştırma (Grouping & Aggregation )

### Toplulaştırma İşlemleri

Basit toplulaştırma fonksiyonları:
* count()
* first()
* last()
* mean()
* median()
* min()
* max
* std()
* var()
* sum()

In [ ]:
import seaborn as sns

In [ ]:
df=sns.load_dataset("planets")

In [ ]:
?sns.load_dataset

In [ ]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.shape  #(1035 gözlem,6 değişken taşır)

(1035, 6)

In [ ]:
df.mean() #her bir sütunun ortalamasını bulur

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [ ]:
df["mass"].mean()

2.6381605847953233

In [ ]:
np.mean(df["mass"])

2.6381605847953233

In [ ]:
df.count()  #değerleri saymak için kullanılır.

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [ ]:
df.sum()

method            Radial VelocityRadial VelocityRadial VelocityR...
number                                                         1848
orbital_period                                          1.98689e+06
mass                                                        1353.38
distance                                                     213368
year                                                        2079388
dtype: object

In [ ]:
df.std()

number                1.240976
orbital_period    26014.728304
mass                  3.818617
distance            733.116493
year                  3.972567
dtype: float64

In [ ]:
df.max()

method            Transit Timing Variations
number                                    7
orbital_period                       730000
mass                                     25
distance                               8500
year                                   2014
dtype: object

In [ ]:
df.min()

method            Astrometry
number                     1
orbital_period     0.0907063
mass                  0.0036
distance                1.35
year                    1989
dtype: object

In [ ]:
df.median()

number               1.0000
orbital_period      39.9795
mass                 1.2600
distance            55.2500
year              2010.0000
dtype: float64

In [ ]:
df.var() #varyans

number            1.540022e+00
orbital_period    6.767661e+08
mass              1.458183e+01
distance          5.374598e+05
year              1.578129e+01
dtype: float64

In [ ]:
df.describe().T  #.T transpoz tersini al

                 count         mean  ...       75%       max
number          1035.0     1.785507  ...     2.000       7.0
orbital_period   992.0  2002.917596  ...   526.005  730000.0
mass             513.0     2.638161  ...     3.040      25.0
distance         808.0   264.069282  ...   178.500    8500.0
year            1035.0  2009.070531  ...  2012.000    2014.0

[5 rows x 8 columns]

In [ ]:
df.dropna().describe().T  #dropna() fonksiyonu NAN değerlerini siler

                count         mean          std  ...       50%        75%      max
number          498.0     1.734940     1.175720  ...     1.000     2.0000      6.0
orbital_period  498.0   835.778671  1469.128259  ...   357.000   999.6000  17337.5
mass            498.0     2.509320     3.636274  ...     1.245     2.8675     25.0
distance        498.0    52.068213    46.596041  ...    39.940    59.3325    354.0
year            498.0  2007.377510     4.167284  ...  2009.000  2011.0000   2014.0

[5 rows x 8 columns]

### Gruplama İşlemleri

In [ ]:
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "veri":[10,11,52,23,43,55]}, columns=["gruplar","veri"])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [ ]:
df.groupby("gruplar") #grupları yakalamaya yarar ama bir obje olduğu için bu şekilde bir sonuç döndürmez anlayabileceğimiz

In [ ]:
df.groupby("gruplar").mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [ ]:
df.groupby("gruplar").sum()

         veri
gruplar
A          33
B          54
C         107

In [ ]:
#Şimdi Geniş Çaplı Bir Örnekle İnceleyelim
import seaborn as sns
df=sns.load_dataset("planets")
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
df.groupby("method")

In [ ]:
df.groupby("method")["orbital_period"] #neye göre gruplanacağı ve değişkeni seçildi çok değişkenli olduğundan

In [ ]:
df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [ ]:
df.groupby("method")["mass"].mean()

method
Astrometry                            NaN
Eclipse Timing Variations        5.125000
Imaging                               NaN
Microlensing                          NaN
Orbital Brightness Modulation         NaN
Pulsar Timing                         NaN
Pulsation Timing Variations           NaN
Radial Velocity                  2.630699
Transit                          1.470000
Transit Timing Variations             NaN
Name: mass, dtype: float64

In [ ]:
df.groupby("method")["orbital_period"].describe()

                               count  ...            max
method                                ...
Astrometry                       2.0  ...    1016.000000
Eclipse Timing Variations        9.0  ...   10220.000000
Imaging                         12.0  ...  730000.000000
Microlensing                     7.0  ...    5100.000000
Orbital Brightness Modulation    3.0  ...       1.544929
Pulsar Timing                    5.0  ...   36525.000000
Pulsation Timing Variations      1.0  ...    1170.000000
Radial Velocity                553.0  ...   17337.500000
Transit                        397.0  ...     331.600590
Transit Timing Variations        3.0  ...     160.000000

[10 rows x 8 columns]

### İleri toplulaştırma işlemleri(aggregate,filter,transform,apply)

###Aggregate

* Gerçek veri ile karşılaşıldığında yapılması gerekenler.

* İleri toplulaştırma işlemleri ise üstteki durumda işimize yarayacaktır

In [ ]:
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "degisken1":[10,23,33,22,11,99],
                  "degisken2":[100,253,333,262,111,969]}, 
                 columns=["gruplar","degisken1","degisken2"],)
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df.groupby("gruplar")

In [ ]:
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A               16        181
B               17        182
C               66        651

In [ ]:
df.groupby("gruplar").aggregate(["min", np.median, max])  #başkasından alınan değişken normal yazılırken(alındığı kütüphaneye bağlanarak ) pandasın içindeki
                                                                 #fonksiyonlar ise "" yada normal yazılabilinir

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10     16  22       100    181  262
B              11     17  23       111    182  253
C              33     66  99       333    651  969

In [ ]:
df.groupby("gruplar").aggregate({"degisken1":"min","degisken2": "max"}) #değişkenler üzerinde farklı işelmeler yaptırmamızı sağlar

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

### Filter


>Filtelemek için fonksiyon tanımlayıp daha karmaşık koşullar için onu filter(fonksiyon) şeklinde yazarak kullanırız.

In [ ]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
def filter_func(x):
    return x["degisken1"].std() > 9

In [ ]:
df.groupby("gruplar").std()

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [ ]:
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

### Transform

>Değişkenlerine dönüştürme işlemi(df["degisken1"]*9 )istersek ve bu değişken istediğimiz şekilde değilse
kendimiz tanımlayıp değişkenlerde gezdirebiliriz

In [ ]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [ ]:
df.loc[:,["degisken1","degisken2"]] #pandas dataframe de slice işlemi için indekse bağlı kalacaksak loc kalmayacaksak iloc işlemi yapılır

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [ ]:
df_a = df.iloc[:,1:3]

* lambda fonksiyon isimlendirmesi yapmadan bir fonsiyon işlemi yapmaya yarar

In [ ]:
df_a.transform(lambda x: x-x.mean())

   degisken1  degisken2
0      -23.0     -238.0
1      -10.0      -85.0
2        0.0       -5.0
3      -11.0      -76.0
4      -22.0     -227.0
5       66.0      631.0

In [ ]:
df_a.transform(lambda x: x*9)

   degisken1  degisken2
0         90        900
1        207       2277
2        297       2997
3        198       2358
4         99        999
5        891       8721

In [ ]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

### Apply
>Pandas DataFrame yapısında yer alan apply() fonksiyonu içerisinde lambda kullanarak var olan değişkenin içerisinde değişiklik yapabilir ya da DataFrame objesi içerisinde yer alan değişkenlerden yeni değişkenler türetilebilir.

In [ ]:
df = pd.DataFrame({"degisken1":[10,23,33,22,11,99],
                  "degisken2":[100,253,333,262,111,969]}, 
                 columns=["degisken1","degisken2"],)
df

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [ ]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

In [ ]:
df.apply(lambda x: x.mean()+x.sum())

degisken1     231.0
degisken2    2366.0
dtype: float64

In [ ]:
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "degisken1":[10,23,33,22,11,99],
                  "degisken2":[100,253,333,262,111,969]}, 
                 columns=["gruplar","degisken1","degisken2"],)
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df.groupby("gruplar").apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        364
C            CC        132       1302

In [ ]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [ ]:
df_a.apply(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [ ]:
df_a.apply(lambda x: x.mean()+x.sum())

degisken1     231.0
degisken2    2366.0
dtype: float64

In [ ]:
df_a.apply(lambda x: x.mean())

degisken1     33.0
degisken2    338.0
dtype: float64

In [ ]:
df_a.apply(lambda x: x.sum())

degisken1     198
degisken2    2028
dtype: int64

### Pivot Tablolar

>Pivot operatörü ile satırlar sütunlara dönüştürülür. Bunun için girdi tablo ifadeden, bir sütunu pivot olarak belirlemek gerekir.Pivot table, daha çok verileri gruplamak ve ortalama değerlerle birlikte görüntülemek amacıyla kullanılır. Verilerin tablo halinde görüntülenmesini sağlar.

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
titanic.groupby("sex")["survived"].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [ ]:
titanic.groupby("sex")[["survived"]].mean() #dataframe için iki parantezde yap

        survived
sex
female  0.742038
male    0.188908

In [ ]:
titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean").unstack() #grupladı değişken secti ve aggretae içindeki şeyleri yazdık

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
titanic.pivot_table("survived", index="sex", columns="class") #(değişken, index, başka değişken varmı)

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
titanic.age.head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [ ]:
age = pd.cut(titanic["age"],[10,18,90])
age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7             NaN
8    (18.0, 90.0]
9    (10.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64]): [(10, 18] < (18, 90]]

In [ ]:
titanic.pivot_table("survived", ["sex",age], "class")

class               First    Second     Third
sex    age
female (10, 18]  1.000000  1.000000  0.523810
       (18, 90]  0.972973  0.900000  0.423729
male   (10, 18]  0.666667  0.000000  0.103448
       (18, 90]  0.375000  0.071429  0.133663


### Dış Kaynaklı Veri Okuma

In [ ]:
#csv okuma
from google.colab import drive
drive.mount('/content/drive')
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/pokemon_data.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
#excel
pd.read_excel("/content/drive/MyDrive/Colab Notebooks/pandas-master/pokemon_data.xlsx")

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]